body,
* {
    margin: 0;
    padding: 0;
}

.content {
    background: linear-gradient(to right bottom, rgb(252, 238, 163), rgb(192, 192, 72), rgb(206, 206, 111));
    padding: 30px;
    padding-top: 110px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.content img {
    width: 100%;
    border-radius: 15px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.719);
    backdrop-filter: blur(30px);
}

.content h1 {
    margin-top: 30px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.content ul {
    list-style: none;
    padding: 10px;
}

.content ul li {
    margin: 30px 0px;
    padding: 10px 5px;
}

.content ul li h2 {
    width: 100%;
    font-family: 'Trebuchet MS';
    margin-left: 0.1%;
    border-bottom: 2px solid black;
    margin-bottom: 15px;
}

.content img {
    width: 40%;
}

table tr th {
    padding: 10px;
    margin: 0px 10px;
}

.table {
    margin-top: 10px;
    padding: 10px;
}

.table .Row {
    padding: 10px;
}

.table tr td {
    padding: 10px;
}

.consultancy h3 {
    font-family: sans-serif;
    width: 100%;
    text-align: center;
    margin-top: 25px;
    margin-bottom: 10px;
    font-size: 27px;
}

.consultancy ul li {
    font-family: sans-serif;
    padding: 10px 10px;
    margin: 5px 5px;
}

@media only screen and (max-width:895px) {
    .content img {
        width: 60%;
        margin-top: 59px;
    }
    .content {
        padding: 10px;
        padding-top: 40px;
    }
    .table {
        display: none;
    }
}
